.detalhesProduto main{
    padding: 90px 30px;
}
.produtoDetalhes{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.fotosDetalhes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fotos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}
.fotos div{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.descricao{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}
.descricao aside{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}
.descricao button{
    background-color: #6f5f40;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
}
.bannerSecundario img{
    width: 100%;
}
.descricaoParteTwo{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
@media (max-width: 960px) {
    .detalhesProduto main{
        padding: 150px 30px;
    }
  }

  @media (max-width: 850px) {
    .fotosDetalhes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .fotos div{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .fotos{
        width: 100%;
    }
    .descricao{
        width: 100%;
    }
  }
  @media (max-width: 660px) {
    .detalhesProduto main{
        padding: 120px 30px;
    }
    .descricao aside{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
  }