.fundo{
    background-color: #000;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.login main{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex: 1;
}
section.main{
    border-radius: 15px;
    padding: 40px 10px 10px 10px;
    background-color: #fff;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 40px;
}
.formImput{
    display: flex;
    flex-direction: column;
}
.formImput strong{
    font-size: 18px;
}
.formImput .input{
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.formImput .input span{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.formImput .input input{
    width: 270px;
    padding: 15px;
    border-radius: 5px;
    border: none;
}
.submit{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.submit input[type="submit"]{
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6f5f40;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.registrar{
    font-size:12px ;
}
.login .buttonSenhaLogin{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}
@media (max-width: 960px) {
    .login main{
        padding-top: 150px;
        margin-bottom: 50px;
    }
  }
  @media (max-width: 660px) {
    .login main{
        padding-top: 120px;
        margin-bottom: 5px;
    }
  }
  @media (max-width: 480px) {
    section.main{
        width: 350px;
        height: 450px;
    }
    .login main{
        padding-top: 120px;
        margin-bottom: 0px;
    }
    .login form{
        margin-bottom: 30px;
    }
  }