.fundo{
    background-color: #000;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
main.registrar{
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}
.formRegistro{
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: center; 
}
.formImput{
    display: flex;
    flex-direction: column;
}
.formImput strong{
    font-size: 18px;
}
.formImput input{
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
}
.submit{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.registrar input[type="text"], .registrar input[type="password"]{
    padding: 10px;
    width: 85%;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
}
input[type="submit"]{
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6f5f40;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.registrar .infosOne{
    background-color: #121212be;
    color: #fff;
    height: 520px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px 0px 0px 10px;
} 
.tituloRegistrar{
    font-weight: 700;
    font-size: 18px;
    width: 80%;
}  
.registrar .infosTwo{
    font-size: 18px;
    background-color: #6f5f40ca;
    height: 520px;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 0px 10px 10px 0px;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 20px;
    font-size: 18px;
}
.formInputRegistro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 22px;
}
.buttonSenha{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 960px) {
    main.registrar{
        margin-top: 140px;
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .tituloRegistrar{
        font-size: 16px;
    }
  }
  @media (max-width: 660px) {
    main.registrar{
        margin-top: 200px;
        margin-bottom: 0px;
    }
    .formRegistro{
        display: flex;
        flex-direction: column ;
        margin-bottom: 15px;
    }
    .infosOne, .infosTwo{
        width: 85%;
    }
    input[type="submit"]{
        width: 100%;
        font-weight: 700;
        font-size: 18px;
    }
  }
  @media (max-width: 480px) {
    
  }