.sobrenos main{
    margin-top: -5px;
    padding-bottom: 60px;
}
.sessaoHistory{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sessaoHistory article{
    padding: 60px;
    text-align: justify;
    font-size: 20px;
}
.fraseFinal{
   display: flex;
   justify-content: center;
}
.fraseFinal h3{
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-weight: 700;
    max-width: 700px;
}
.incolor h2{
    text-align: center;
}

@media (max-width: 1042px) {
    .sessaoHistory article p{
        font-size: 16px;
    }
  }
  @media (max-width: 934px) {
    .sessaoHistory article p{
        font-size: 16px;
    }
    .incolor img{
        display: none;
    }
    .color img{
        display: none;
    }
  }
  @media (max-width: 516px) {
    .sessaoHistory article p{
        font-size: 16px;
    }
    .incolor{
        flex-direction: column;
    }
    .incolor img{
        display: block;
    }
  }